:root {
    font-size: 62.5%; /*1rem = 10px*/
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #3cabc7, #ff2525da);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    color: #151515;
}

main {
    margin-inline: 4rem;
}

section.relogio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262626;
    color: #faf7f2;
    gap: 5rem;
}

span.tempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}